{% extends 'base.html' %}
{% block title %} Add Deposit {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

{% include 'partials/_topnav.html' %}

 <!--Table-->
 <div class="row">

    <div class="col-lg-12 m-b30">

        <div class="container">
            <div class="row my-4">

                   <!--Notice Board Division-->
                   <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-info text-white">
                            Important Information.
                        </div>
                        <div class="card-body">
                            
                           
                                
                                
                                
                                <h6>
                                    <ul>
                                        <li>First Copy Account Number</li>
                                        <li>Do NOT Refresh this Page</li>
                                        <li>Remember to submit the page.</li>
                                    </ul>
                                </h6>
                
                              
                               
                           
                        </div>
                    </div>
                </div>
                  <!--Notice Board Division Ends-->
                
                <div class="col-md-8">
                    <div class="border bg-white p-3">
                        <h4>Make Deposit</h4>
                        <hr>
                        <form action="." method="POST">
        
                        {% csrf_token %}
            
                          {{ form | crispy}}
            
                        <input class="btn btn-success btn-block" value="Create Account" type="submit">
                        </form>
                    </div>
                </div>
        
                
            </div>
            
          </table>
        </div>


    </div>
 </div>
 
<!--End Table-->

{% endblock %}