{% extends 'base.html' %}
{% block title %} {{ page_title }} {% endblock %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block content %}

<div class="container">
    <div class="row my-4">
        
        <div class="col-md-8">
           <div class="card">
               <div class="card-header bg-info text-white">
                {{ customer.surname }} Deposit Slip
               </div>
               <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <span class="h4">Deposit Slip</span><a class="btn btn-info btn-sm float-right" href="">Acct. Statment</a>
                        <hr>
                        <table class="table bg-white table-borderless">
                            <tbody>
                                <tr>
                                    <th scope="row">Deposit Date: </th>
                                    <td>{{ current_date }}</td>                                   
                                </tr> 

                              <tr>
                                <th scope="row">Account Number: </th>
                                <td style="font-family: san serif; color:rgb(6, 82, 189); font-size:1.2rem;">{{ customer.account_number}}</td>
                              </tr>  
                              <tr>
                                <th scope="row">Account Name: </th>
                                <td style="font-family: san serif; color:rgb(6, 82, 189); font-size:1.2rem;">{{ customer.account_number}}</td>
                              </tr> 
                              <tr>
                                <th scope="row">Deposit Amount:</th>
                                <td style="font-family: san serif; color:red; font-size:1.2rem;">N{{ deposit |intcomma }}</td>                                   
                              </tr>  
                              <tr>
                                <th scope="row">Account Balance:</th>
                                <td style="font-family: san serif; color:rgb(6, 82, 189); font-size:1.2rem;">N{{ deposit }}</td>                                   
                              </tr>  
                              
                              <tr>
                                <th scope="row">Added By: <b style="color:red;">{{current_month_name}} {{current_date.year}}</b> </th>
                                <td>N{{ deposit |intcomma }}</td>                                   
                              </tr>  
                                               
                            </tbody>
                          </table>
                    </div>
                    <div class="col-md-4">
                        <img class="img-thumbnail" src="{{ user.profile.image.url }}" alt="user-image">
                    </div>
                </div>
               </div>
           </div>
        </div>
        <div class="col-md-4">
            <div class="border bg-white p-3">
                <h4>Add Deposit</h4>
                <hr>
                <form action="" method="POST">
                  {% csrf_token %}
  
                  {{form | crispy }}
  
                  <input type="submit" class="btn btn-success" value="Deposit">
  
                </form>
            </div>
         </div>
        
    </div>

    
  
</div>

{% endblock %}