{% extends 'base.html' %}
{% block title %} {{page_title}} {% endblock %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block content %}

{% include 'partials/_topnav.html' %} 

<div class="container">

  {% include 'partials/_alerts.html' %}

    <div class="row my-4">

        
        <div class="col-md-8">
           <div class="card">
               <div class="card-header bg-info text-white">
                {{ customer.customer.profile.surname }} {{ customer.customer.profile.othernames }} Savings Summary
               </div>
               <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <span class="h4">Mini Account Statement</span><a class="btn btn-info btn-sm float-right" href=" {% url 'account-statement' customer.id %} ">Acct. Statment</a>
                        <hr>
                        <table class="table bg-white table-borderless">
                            <tbody>
                              <tr>
                                <th scope="row">Today's Date: </th>
                                <td>{{ now }}</td>                                   
                              </tr> 
                              <tr>
                                <th scope="row">Account Number: </th>
                                <td style="font-family: san serif; color:rgb(6, 82, 189); font-size:1.2rem;">{{ customer.account_number}}</td>
                              </tr>  
                              <tr>
                                <th scope="row">Total Deposited: <b style="color:red;">{{current_year}}</b> </th>
                                <td> <a class="btn btn-success" href="">N{{ deposited_this_year |intcomma }}</a> </td>                                   
                              </tr>  
                              <tr>
                                <th scope="row">Total Deposited: <b style="color:red;">{{current_month_name}} {{current_year}}</b> </th>
                                <td> <a class="btn btn-success" href="">N{{ deposited_this_month |intcomma }}</a> </td>                                   
                              </tr> 
                              <tr>
                                <th scope="row">Account Balance:</th>
                                <td style="font-family: san serif; color:red; font-size:1.2rem;"> <a class="btn btn-primary" href="">N{{ deposit |intcomma }}</a> </td>                                   
                              </tr>  
                            
                              
                               
                                               
                            </tbody>
                          </table>
                    </div>
                    <div class="col-md-4">
                        <img class="img-thumbnail" src="{{ customer.customer.profile.image.url }}" alt="user-image">
                    </div>
                </div>
               </div>
           </div>
        </div>
        <div class="col-md-4">
            <div class="border bg-white p-3">
                <h4>Add Deposit</h4>
                <hr>
                <form action="" method="POST">
                  {% csrf_token %}
  
                  {{form | crispy }}
  
                  <input type="submit" class="btn btn-success" value="Deposit">
  
                </form>
            </div>
         </div>
        
    </div>

    
  
</div>

{% endblock %}