{% extends 'base.html' %}
{% block title %} {{page_title}} {% endblock %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block content %}

<div class="container">
    <div class="row my-4">
        
        <div class="col-md-8">
           <div class="card">
               <div class="card-header bg-info text-white">
                {{ customer.surname }} {{ customer.othernames }} Savings Summary
               </div>
               <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <span class="h4">Mini Account Statement</span><a class="btn btn-info btn-sm float-right" href=" ">Acct. Statment</a>
                        <hr>
                        <table class="table bg-white table-borderless">
                            <tbody>
                              <tr>
                                <th scope="row">Account Number: </th>
                                <td style="font-family: san serif; color:rgb(6, 82, 189); font-size:1.2rem;">{{ acct}}</td>
                              </tr>   
                              <tr>
                                <th scope="row">Surname:</th>
                                <td style="font-family: san serif; color:blue; font-size:1.2rem;">{{ name}}</td>                                   
                              </tr>  
                              <tr>
                                <th scope="row">Other Names:</th>
                                <td style="font-family: san serif; color:rgb(6, 82, 189); font-size:1.2rem;">{{ other_names }}</td>                                   
                              </tr>  
                              <tr>
                                <th scope="row">Phone Number: </th>
                                <td>{{phone}}</td>                                   
                              </tr> 
                              <tr>
                                <th scope="row">Address: </th>
                                <td>{{ address }}</td>                                   
                              </tr> 
                              <tr>
                                <th scope="row">Created By: </th>
                                <td>{{ request.user }}</td>                                   
                              </tr>  
                                               
                            </tbody>
                          </table>
                    </div>
                    <div class="col-md-4">
                        <img class="img-thumbnail" src="{{ user.profile.image.url }}" alt="Customer-image">
                    </div>
                </div>
               </div>
           </div>
        </div>
        <div class="col-md-4">
            <div class="border bg-white p-3"> 
                <h4>Add Deposit</h4>
                <hr>
                <form action="" method="POST">
                  {% csrf_token %}
  
                  {{form | crispy }}
  
                  <input type="submit" class="btn btn-success" value="Deposit">
  
                </form>
            </div>
         </div>
        
    </div>

    
  
</div>

{% endblock %}