{% extends 'base.html' %}
{% block title %} {{ page_title }} {% endblock %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block content %}

{% include 'partials/_topnav.html' %}

<div class="container">
  {% include 'partials/_alerts.html' %}
    <div class="row my-4">
         
        
              
                  <div class="col-md-8">
                    <table class="table bg-white">
                        <thead class="bg-info text-white">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Acct. No.</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        {% if deposits %}
                        <tbody>
                        
                          
                          {% for deposit in deposits %} 
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ deposit.acct }}</td>
                            <td>{{ deposit.customer.phone }}</td> 
                            <td>N{{ deposit.deposit_amount | intcomma }}</td>
                            <td>{{ deposit.date | naturaltime }}</td>
                            
                            <th scope="row"><a class="btn btn-success btn-sm" href="{% url 'deposit-slip' deposit.id %}">Slip</a></th>
                          </tr>
                          {% endfor %}  
                                     
                        </tbody>
                        {% else %}
                        <h3 style="text-align: center; color:red;">No Deposit Found for {{ customer.customer.profile.surname }} {{ customer.customer.profile.othernames }}</h3>
                        {% endif %}
                    </table>
                </div>
           
        <div class="col-md-4">
            <div class="border bg-white p-3">
                <h4>Transaction Summary</h4> 
                <hr>
                <table class="table bg-white table-borderless">
                  <tbody>
                      <tr>
                          <th scope="row"> <b style="font-size: 0.8rem;">Surname:</b>  </th>
                          <td> <b style="color: blue; font-size:0.8rem;"> {{ customer.customer.profile.surname }} </b> </td>                                   
                      </tr> 
                      <tr>
                        <th scope="row"> <b style="font-size: 0.8rem;">Deposited</b> <b style="color:rgb(60, 205, 12); font-size: 0.8rem;">{{now.year}}</b>:</th>
                        <td style="font-family: san serif; color:rgb(179, 5, 51); font-size:1.2rem; font-weight:700;"> <a class="btn btn-success" href="">N{{deposited_this_year | intcomma }}</a> </td>                                   
                      </tr> 

                      <tr>
                        <th scope="row"> <b style="font-size:0.8rem;">Deposited</b> <b style="color:red; font-size: 0.8rem; ">{{current_month_name}}</b> </th>
                        <td style="font-family: san serif; color:rgb(6, 82, 189); font-size:1.2rem; font-weight:700;"> <a class="btn btn-primary" href="">N {{ deposited_this_month | intcomma }}</a>  </td>                                   
                      </tr> 
                      
                      <tr>
                        <th scope="row"> <b style="font-size: 0.8rem;">Withdrawn:</b> <b style="color:red; font-size: 0.8rem;">{{now.year}}</b> </th>
                        <td style="font-family: san serif; color:rgb(6, 82, 189); font-size:1.2rem;"> <a class="btn btn-secondary" href="">N{{withdrawn_this_year | intcomma}}</a> </td>                                   
                      </tr> 
                      
                      <tr>
                        <th scope="row"> <b style="font-size: 0.8rem;">Withdrawn:</b> <b style="color:red; font-size: 0.8rem;">{{current_month_name}}</b> </th>
                        <td style="font-family: san serif; color:rgb(6, 82, 189); font-size:1.2rem;"> <a class="btn btn-danger" href="">N{{withdrawn_this_month | intcomma}}</a> </td>                                   
                      </tr> 
                    
                     
                   

                    
                    <tr>
                      <th scope="row"> <b style="font-size: 0.8rem;">Service Charge:</b> <b style="color:red; font-size: 0.8rem;">{{current_month_name}}</b> </th>
                      <td style="font-family: san serif; color:rgb(6, 82, 189); font-size:1.2rem;"> <a class="btn btn-danger" href="">N{{monthly_charges | intcomma}}</a> </td>                                   
                    </tr>
                    <tr>
                      <th scope="row"> <b style="font-size: 0.8rem;">Avail. Balance:</b> <b style="color:red; font-size: 0.8rem;">{{current_month_name}}</b> </th>
                      <td style="font-family: san serif; color:rgb(6, 82, 189); font-size:1.2rem;"> 
                        
                        {% if available_balance <= 0 %}

                        <a class="btn btn-danger" href=""> N0</a> 

                        {% else %}


                        <a class="btn btn-success" href=""> N{{available_balance | intcomma}}</a> 
                      
                        {% endif %}
                      </td>                                   
                    </tr>

                    <tr>
                      <th scope="row"></th>
                      <td><a class="btn btn-success btn-sm" href="{% url 'create-deposit' customer.id %}">Deposit Here</a></td>                                   
                    </tr> 
                    
                                     
                  </tbody>
                </table>
            </div>
         </div>
        
    </div>

    
  
</div>

{% endblock %}