{% extends 'base.html' %}
{% block title %} Witdrawal Page {% endblock %}

{% load humanize %}

{% block content %}

{% include 'partials/_topnav.html' %}

<!--Table-->


<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            <div class="border bg-white p-3">
                <h4>Add Witdrawal</h4>
                <hr>
                <form action="" method="POST">

                      <div class="form-group">
                        <label for="product">Product</label>
                          <select id="product" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                          </select>
                      </div>
                      <div class="form-group">
                        <label for="avaliableqty">Avaliable Quantity</label>
                        <input type="number" class="form-control" id="avaliableqty">
                      </div>
                      <div class="form-group">
                          <label for="sellprice">Selling Price</label>
                          <input type="text" class="form-control" id="sellprice">
                      </div>
                      <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input type="number" class="form-control" id="quantity">
                      </div>                            
                    <input class="btn btn-success btn-block" value="Add Sales" type="submit">
                </form>
            </div>
        </div>

        
        <div class="col-md-8 mt-2">
            <div class="table-responsive">
            <table class="table bg-white">
                <thead class="bg-info text-white">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Account</th>
                    <th scope="col">Done By</th>
                    <th scope="col">Amount </th>
                    <th scope="col">Date </th>
                    
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for withdrawal in withdrawals %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ withdrawal.account }}</td>
                    <td>{{ withdrawal.staff }}</td>
                    <td>N{{ withdrawal.withdrawal_amount | intcomma }}</td>
                    <td>{{ withdrawal.date | naturalday }}</td>
                    
                    <td>
                        <a class="btn btn-info btn-sm" href="">Receipt</a>
                    </td>
                  </tr>  
                  {% endfor %}                 
                </tbody>
              </table>
            </div>
        </div>
        
    </div>

  
  
    
  </table>
</div>


<!--End Table-->

{% endblock %}