{% extends 'base.html' %}
{% block title %} {{page_title}} {% endblock %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block content %}

{% include 'partials/_topnav.html' %} 

<div class="container">

  {% include 'partials/_alerts.html' %}

    <div class="row my-4">

        
        <div class="col-md-8">
           <div class="card"> 
               <div class="card-header bg-info text-white">
                {{ customer.customer.profile.surname }} {{ customer.customer.profile.othernames }} Savings Summary
               </div>
               <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <span class="h4">Mini Account Statement</span><a class="btn btn-info btn-sm float-right" href="  ">Acct. Statment</a>
                        <hr>
                        <table class="table bg-white table-borderless mb-1">
                            <tbody>
                              <tr>
                                <th scope="row">Today's Date: </th>
                                <td>{{ current_date }}</td>                                   
                              </tr> 
                              <tr>
                                <th scope="row">Account Number: </th>
                                <td style="font-family: san serif; color:rgb(6, 82, 189); font-size:1.2rem;">{{ customer.account_number}}</td>
                              </tr>   
                              <tr>
                                <th scope="row">Total Deposited: <b style="color:red;"> {{current_date.year}}</b> </th>
                                <td> <a class="btn btn-primary" href="">N{{ deposited_this_year |intcomma }}</a> </td>                                   
                              </tr>  
                              <tr>
                                <th scope="row">Total Deposited: <b style="color:red;"> {{current_month_name}}</b> </th>
                                <td> <a class="btn btn-secondary" href="">N{{ deposited_this_month |intcomma }}</a> </td>                                   
                              </tr>
                              <tr>
                                <th scope="row"> {{current_month_name}} Service Charge:</th>
                                <td style="font-family: san serif; color:red; font-size:1.2rem;"> <a class="btn btn-danger" href="">N{{saving_charge_amount}}</a> </td>                                   
                              </tr>
                              <tr>
                                <th scope="row">Total Withdrawn: <b style="color:red;"> {{current_date.year}}</b> </th>
                                <td> <a class="btn btn-danger" href="">N{{ customer_withdrawals |intcomma }}</a> </td>                                   
                              </tr> 
                              <!-- <tr>
                                <th scope="row">Account Balance:</th>
                                <td style="font-family: san serif; color:red; font-size:1.2rem;">N{{ acct_balance |intcomma }}</td>                                   
                              </tr>   -->
                        

                              <tr>
                                <th scope="row">Available Balance:</th>
                                <td style="font-family: san serif; color:rgb(6, 82, 189); font-size:1.2rem;">
                                  {% if deposited_this_month == 0  %}

                                  <a class="btn btn-danger" href="">No Deposit</a>

                                  {% else %}

                                  <a class="btn btn-success" href="">N{{ available_balance |intcomma  }}</a>
                                  
                                  {% endif %}
                                </td>                                   
                              </tr>  
                               
                              
                                            
                            </tbody>
                          </table>
                    </div>
                    <div class="col-md-4">
                        <img class="img-thumbnail" src="{{ customer.customer.profile.image.url }}" alt="user-image">
                    </div>
                </div>
               </div>
           </div>
        </div>
        <div class="col-md-4">
            <div class="border bg-white p-3">
                <h4>Add Withdrawal</h4>
                <hr>
                {% if available_balance > saving_charge_amount %}
                <form action="" method="POST">
                  {% csrf_token %}
  
                  {{form | crispy }}
  
                  <input type="submit" class="btn btn-success" value="Withdraw">
  
                </form>
                {% else %}
                <h3 style="color:red; text-align:center;">Insufficient Fund</h3>
                <a class="btn btn-success" href=" {% url 'create-deposit' customer.id %} ">Add Fund</a>
                {% endif %}
            </div>
         </div>
        
    </div>

    
  
</div>

{% endblock %}