{% extends 'base.html' %}
{% block title %} {{ page_title }} {% endblock %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block content %}

{% include 'partials/_topnav.html' %}

<div class="container">
  {% include 'partials/_alerts.html' %}
    <div class="row my-4">
         
        
              
                  <div class="col-md-8">
                    <table class="table bg-white">
                        <thead class="bg-info text-white">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Acct. No.</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        {% if customer_withdrawals %}
                        <tbody>
                        
                          
                          {% for withdrawal in customer_withdrawals %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ acct }}</td>
                            <td>{{ customer.customer.profile.phone }}</td> 
                            <td>N{{ withdrawal.withdrawal_amount | intcomma }}</td>
                            <td>{{ withdrawal.date | naturaltime }}</td>
                            
                            <th scope="row"><a class="btn btn-success btn-sm" href=" ">Statement</a></th>
                          </tr>
                          {% endfor %}  
                                     
                        </tbody>
                        {% else %}
                        <h1 style="text-align: center; color:red;">No Withdrawal Record Found</h1>
                        {% endif %}
                    </table>
                </div>
           
        <div class="col-md-4">
            <div class="border bg-white p-3">
                <h4>Withdrawal Slip</h4> 
                <hr>
                <table class="table bg-white table-borderless">
                  <tbody>
                      <tr>
                          <th scope="row">Acct.: </th>
                          <td>{{ acct }}</td>                                   
                      </tr> 

                      <tr>
                        <th scope="row"> Date </th>
                        <td><b style="color:red; font-weight:700;">{{now}}</b> </td>                                   
                      </tr>   
                    
                    <tr>
                      <th scope="row">Amount:</th>
                      <td><b style="font-weight: 700;">N{{amount | intcomma }}</b></td>                                   
                    </tr>  
                     

                    <tr>
                      <th scope="row"></th>
                      <td><a class="btn btn-success btn-sm" href="">Print</a></td>                                   
                    </tr> 
                    
                                     
                  </tbody>
                </table>
            </div>
         </div>
        
    </div>

    
  
</div>

{% endblock %}