{% extends 'base.html' %}
{% block title %} Add User Page {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

{% include 'partials/_topnav.html' %}

 <!--Table-->
 <div class="container">
    <div class="row my-4">

      <div class="col-md-4">
        <div class="border bg-white p-3">
            <h4>Add User</h4>
            <hr>
            <form method="POST">

             
              {% csrf_token %}

              {{ form |crispy }}

                <input class="btn btn-success btn-block" value="Add User" type="submit">
            </form>
        </div>
    </div>

        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info text-white">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in all_users %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.staff.phone}}</td>
                    <td>{{user.profile.address}}</td>
                    
                    <th scope="row"><a class="btn btn-info btn-sm" href="">View Profile</a></th>
                  </tr>
                {% endfor %}               
                </tbody>
              </table>
        </div>
    </div>

  
  
    
  </table>
</div>
<!--End Table-->

{% endblock %}